@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/*Globales*/
:root {
  --primary: #27275d;
  --secondary: #4f275d;
  --accent: #eb3c85;
  --color-3: rgb(80, 248, 240);
  --color-4: rgba(36, 138, 232, 1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-padding-top: 7rem;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 1em;
}

.centrar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 2rem;
  color: white;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Righteous", sans-serif;
  font-weight: 500;
}

/* 
HEADER --------------------------------------------------------------------------------------------
*/

.encabezado {
  font-family: "Righteous", sans-serif;
  font-weight: 500;
  position: sticky;
  height: 7rem;
  width: 100dvw;
  padding: 0 5rem;
  background-color: var(--primary);
  top: 0;
  box-shadow: 0px 0px 20px black;
  z-index: 2;
}

.titulo {
  position: absolute;
  height: 100%;
  width: 33rem;
}

.logo {
  height: 7rem;
  width: 7rem;
}

.encabezado h1 {
  display: inline-block;
  position: absolute;
  left: 8rem;
  top: 50%;
  transform: translateY(-50%);
  /* float: right; */
  font-size: 3rem;
  color: var(--accent);
  transition: 0.3s ease;
}

.encabezado > a:hover > h1 {
  color: white;
  text-shadow: 0 0 20px var(--accent);
}

/* 
NAVEGADOR --------------------------------------------------------------------------------------------
*/

.navegador {
  display: inline;
  position: absolute;
  width: auto;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
}

.navegador a {
  color: var(--accent);
  padding: 0 1rem;
  font-size: 1.5rem;
}
.navegador a:hover {
  transition: 0.3s ease;
  color: white;
  text-shadow: 0 0 20px var(--accent);
}

.desplegable {
  list-style: none;
  min-width: 10rem;
  visibility: hidden;
  position: absolute;
  background-color: #27275d75;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1rem;
  padding-top: 0;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.748);
}

/* 
DESPLEGABLE --------------------------------------------------------------------------------------------
*/

.desplegable li {
  margin-top: 0.5rem;
}

.desplegable a {
  font-size: 0.9rem;
  padding: 0;
}

.navegador > ul > li > a {
  transition: 0.3s;
}

.navegador > ul > li:hover {
  transform: scale(1.1);
}

.navegador li:hover > .desplegable {
  visibility: visible;
}

ul.menu {
  list-style: none;
}

ul.menu > li {
  display: inline;
  float: left;
}

/* 
PRESENTACION --------------------------------------------------------------------------------------------
*/

#presentacion {
  background-color: black;
  position: relative;
  width: 100dvw;
  height: calc(100dvh - 7rem);
  scroll-snap-align: start;
}

.overlay {
  position: absolute;
  background: var(--primary);
  background: linear-gradient(
    180deg,
    rgba(7, 0, 116, 0.45702030812324934) 0%,
    rgba(87, 0, 88, 0.4374124649859944) 100%
  );
  height: 100%;
  width: 100%;
}

.overlay > h1 {
  display: block;
  font-size: 7rem;
  position: absolute;
  color: var(--accent);
  text-shadow: 5px 5px 15px black;
  top: 16rem;
  width: 100%;
  text-align: center;
}
.overlay > p {
  position: absolute;
  top: 25rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 10rem;
  text-align: center;
  text-shadow: 5px 5px 15px black;
}

.video_loop {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: var(--secondary);
}

/* 
GENERO --------------------------------------------------------------------------------------------
*/

.genero {
  position: relative;
  height: calc(100dvh - 7rem);
  scroll-snap-align: start;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.519);
  background-color: var(--secondary);
}
.genero:nth-child(odd) {
  background-color: var(--primary);
}

/* 
GENERO-HEADER --------------------------------------------------------------------------------------------
*/

.genero > header {
  z-index: 1;
  position: absolute;
  top: 3rem;
  width: 55%;
}

.genero:nth-child(even) > header {
  right: 5%;
}

.genero:nth-child(odd) > header {
  left: 5%;
}
.genero_nombre {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  color: var(--accent);
}

/* 
CARRUSEL --------------------------------------------------------------------------------------------
*/

.carrusel_anime {
  /*Este font-size es para que no hayan espacios blancos entre los article,
  ya que el letter-spacing escala directamente del font-size*/
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background-image: linear-gradient(
    90deg,
    var(--primary) 0%,
    rgba(79, 39, 93, 1) 100%
  );
}

.anime {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.anime_fondo {
  height: 100%;
  width: 100%;
  opacity: 15%;
  object-fit: cover;
}

.anime_imagen {
  position: absolute;
  width: 35%;
  top: 5%;
  bottom: 5%;
}
.genero:nth-child(odd) .anime_imagen {
  right: 5%;
}

.genero:nth-child(even) .anime_imagen {
  left: 5%;
}

.anime_imagen > img {
  position: absolute;
  height: 95%;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.info_anime {
  position: absolute;
  width: 55%;
  top: 5%;
  bottom: 5%;
}

/* 
ANIME-HEADER --------------------------------------------------------------------------------------------
*/

.genero:nth-child(odd) .info_anime {
  left: 5%;
}

.genero:nth-child(even) .info_anime {
  right: 5%;
}

h3.anime_nombre {
  font-size: 2.5rem;
  line-height: 1;
  width: 100%;
  color: white;
  font-weight: 300;
  text-align: center;
}

/* 
ANIME-BODY --------------------------------------------------------------------------------------------
*/

.anime_sinopsis {
  position: absolute;
  height: 65%;
  width: 100%;
}

.anime_sinopsis > p {
  /*Esto es porque el P hereda el whitespace de arriba
  y entonces no se agrupa el texto*/
  white-space: normal;
  font-weight: 400;
  line-height: 2.4rem;
  width: 80%;
  margin: 0 auto;
  height: auto;
  font-size: 1.4rem;
  margin: 2rem auto;
}

.anime_sinopsis > button {
  font-size: 1.2rem;
  margin: 0 auto;
  display: block;
  height: 3rem;
  width: 12rem;
  cursor: pointer;
  color: white;
  background-color: var(--accent);
  background-image: linear-gradient(
    90deg,
    var(--color-4) 0%,
    var(--accent) 100%
  );
  border: none;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.584);
  transition: 250ms ease;
}

.anime_sinopsis > button:hover {
  font-weight: 600;
  transform: scale(1.2);
  background-image: none;
  background-color: white;
  color: var(--accent);
  box-shadow: 0px 0px 20px var(--accent);
}

/* 
ANIME-FOOTER --------------------------------------------------------------------------------------------
*/

.genero footer {
  position: absolute;
  height: 1rem;
  bottom: 4.5rem;
  width: 55%;
}

.genero:nth-child(even) > footer {
  right: 5%;
}

.genero:nth-child(odd) > footer {
  left: 5%;
}

ul.carrusel_lista {
  text-align: center;
  height: 1rem;
  margin: 0 auto;
  list-style: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none;
}

li.carrusel_boton {
  display: inline;
}

li.carrusel_boton a {
  border: 1px solid white;
  display: inline-block;
  color: transparent;
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-3);
  opacity: 1;
  transition: ease 250ms;
}

li.carrusel_boton a:hover {
  opacity: 1;
  background-color: white;
  box-shadow: 0 0 20px var(--accent);
  transform: scale(1.4);
}

/* 
FOOTER --------------------------------------------------------------------------------------------
*/

.pie_pagina {
  height: calc(60dvh - 7rem);
  scroll-snap-align: end;
  position: relative;
  background-color: #27275d;
}

.pie_pagina::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("images/Fondo Footer.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.logo_git {
  position: absolute;
  z-index: 10;
  top: -0.3rem;
  right: 0;
}

.logo_git img {
  width: 8rem;
}

.logo_git a {
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
  z-index: 11;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  font-size: 0.1rem;
  color: transparent;
}

.pie_pagina form {
  position: relative;
  font-size: 1.4rem;
  color: white;
  width: 30%;
  margin-left: 20%;
  padding-top: 4rem;
  text-shadow: 2px 2px 10px black;
  display: inline-block;
}

.pie_pagina .cap {
  font-size: 1.4rem;
  color: var(--accent);
  font-weight: 600;
}

.pie_pagina input,
.pie_pagina textarea {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.451);
  border: none;
  outline: none;
  margin: 0.5rem 0 0.5rem 0;
  width: 24.5rem;
  padding: 0.3rem;
}
.pie_pagina textarea {
  resize: none;
  height: 6rem;
}

.pie_pagina input {
  height: 1.5rem;
}

.info_pie {
  position: relative;
  height: 80%;
  float: right;
  font-size: 1.4rem;
  margin-right: 20%;
  padding-top: 4rem;
}

.info_pie div {
  margin: 1.5rem 0;
}

.info_pie a {
  display: block;
  color: white;
}

.info_pie p {
  font-size: 1.4rem;
}

.redes a {
  display: inline;
}

.info_pie img {
  width: 4rem;
  margin: 0 0.4rem 0 0;
}

@keyframes desvanecimiento {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:where(
    #attack-on-titan,
    #naruto,
    #fullmetal,
    #bokunohero,
    #sao,
    #kimetsu,
    #abyss,
    #erased,
    #steins,
    #tokyo,
    #violet,
    #anohana,
    #silent
  ):target {
  animation: desvanecimiento 0.7s ease;
}
