@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/*Globales*/
:root {
  --color-1: #27275d;
  --color-4: #b0b8f4;
  --color-2: #eb3c85;
  --color-3: #40bae2;
  --color-5: #4f275d;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-padding-top: 7rem;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 1em;
}

.centrar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 2rem;
  color: white;
}

a {
  text-decoration: none;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Righteous", sans-serif;
  font-weight: 500;
}

.contenedor {
  width: 90%;
  max-width: 130rem;
  margin: 0 auto;
}

.encabezado {
  font-family: "Righteous", sans-serif;
  font-weight: 500;
  position: sticky;
  height: 7rem;
  width: 100dvw;
  padding: 0 5rem;
  background-color: var(--color-1);
  top: 0;
  box-shadow: 0px 0px 20px black;
  z-index: 2;
}

.encabezado h1 {
  display: inline;
  position: absolute;
  bottom: 2rem;
  margin-left: 2rem;
  font-size: 3rem;
  vertical-align: center;
  color: var(--color-2);
}

.navegador {
  display: inline;
  position: absolute;
  width: auto;
  right: 5rem;
  bottom: 2.7rem;
}

.navegador a {
  color: var(--color-2);
  padding: 0 1rem;
  font-size: 1.5rem;
}

.desplegable {
  list-style: none;
  min-width: 11rem;
  visibility: hidden;
  position: absolute;
  background-color: #27275d75;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1rem;
  padding-top: 0;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.748);
}

.desplegable li {
  margin-top: 0.5rem;
}

.desplegable a {
  font-size: 1rem;
  padding: 0;
}

.navegador a:hover {
  color: white;
  transition: all 0.3s;
  text-shadow: 0 0 20px var(--color-2);
}

.navegador li:hover > .desplegable {
  visibility: visible;
}

ul.menu {
  list-style: none;
}

ul.menu > li {
  display: inline;
  float: left;
}

.logo {
  height: 7rem;
  width: 7rem;
}

#presentacion {
  background-color: black;
  position: relative;
  width: 100dvw;
  height: calc(100dvh - 7rem);
  scroll-snap-align: start;
}

.overlay {
  position: absolute;
  background: rgb(7, 0, 116);
  background: linear-gradient(
    180deg,
    rgba(7, 0, 116, 0.45702030812324934) 0%,
    rgba(87, 0, 88, 0.4374124649859944) 100%
  );
  height: 100%;
  width: 100%;
}

.overlay > h1 {
  display: block;
  font-size: 7rem;
  position: absolute;
  color: var(--color-2);
  text-shadow: 5px 5px 15px black;
  top: 16rem;
  width: 100%;
  text-align: center;
}
.overlay > p {
  position: absolute;
  top: 25rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 10rem;
  text-align: center;
  text-shadow: 5px 5px 15px black;
}

.video_loop {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.genero {
  position: relative;
  background-color: var(--color-5);
  height: calc(100dvh - 7rem);
  scroll-snap-align: start;
}
.genero:nth-child(odd) {
  background-color: var(--color-1);
}

.genero > header {
  z-index: 1;
  position: absolute;
  top: 3rem;
  width: 55%;
}

.genero:nth-child(even) > header {
  right: 5%;
}

.genero:nth-child(odd) > header {
  left: 5%;
}
.genero_nombre {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  color: var(--color-2);
}

.carrusel_anime {
  /*Este font-size es para que no hayan espacios blancos entre los article,
  ya que el letter-spacing escala directamente del font-size*/
  /* font-size: 0; */
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.anime {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  background-image: linear-gradient(
    90deg,
    rgba(51, 51, 121, 1) 0%,
    rgba(79, 39, 93, 1) 100%
  );
}

.anime_fondo {
  height: 100%;
  width: 100%;
  opacity: 15%;
}

.anime_imagen {
  position: absolute;
  width: 35%;
  top: 5%;
  bottom: 5%;
}
.genero:nth-child(odd) .anime_imagen {
  right: 5%;
}

.genero:nth-child(even) .anime_imagen {
  left: 5%;
}

.anime_imagen > img {
  position: absolute;
  height: 95%;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.info_anime {
  position: absolute;
  width: 55%;
  top: 5%;
  bottom: 5%;
}

.genero:nth-child(odd) .info_anime {
  left: 5%;
}

.genero:nth-child(even) .info_anime {
  right: 5%;
}

h3.anime_nombre {
  font-size: 2.5rem;
  line-height: 1;
  width: 100%;
  color: white;
  font-weight: 300;
  text-align: center;
}

.anime_sinopsis {
  position: absolute;
  height: 65%;
  width: 100%;
}

.anime_sinopsis > p {
  /*Esto es porque el P hereda el whitespace de arriba
  y entonces no se agrupa el texto*/
  white-space: normal;
  font-weight: 400;
  line-height: 2.4rem;
  width: 80%;
  margin: 0 auto;
  height: auto;
  font-size: 1.4rem;
  margin: 2rem auto;
}

.anime_sinopsis > button {
  font-size: 1.2rem;
  margin: 0 auto;
  display: block;
  height: 3rem;
  width: 12rem;
  cursor: pointer;
  color: white;
  background-color: var(--color-2);
  background-image: linear-gradient(
    90deg,
    rgba(36, 138, 232, 1) 0%,
    rgba(235, 60, 133, 1) 100%
  );
  border: none;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.584);
  transition: 250ms ease;
}

.anime_sinopsis > button:hover {
  font-weight: 600;
  height: 4rem;
  width: 13rem;
  transition: 250ms ease;
  background-image: none;
  background-color: white;
  color: var(--color-2);
  box-shadow: 0px 0px 20px var(--color-2);
}

.genero footer {
  position: absolute;
  height: 1rem;
  bottom: 4.5rem;
  width: 55%;
}

.genero:nth-child(even) > footer {
  right: 5%;
}

.genero:nth-child(odd) > footer {
  left: 5%;
}

ul.carrusel_lista {
  text-align: center;
  height: 1rem;
  margin: 0 auto;
  list-style: none;
}

li.carrusel_boton {
  display: inline;
}

li.carrusel_boton a {
  display: inline-block;
  color: transparent;
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-3);
  opacity: 0.75;
}

li.carrusel_boton a:hover {
  transition: ease 250ms;
  opacity: 1;
  background-color: white;
  box-shadow: 0 0 20px var(--color-2);
}

.pie_pagina {
  height: calc(50dvh - 7rem);
  scroll-snap-align: end;
}

@keyframes desvanecimiento {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:where(#attack-on-titan, #naruto):target {
  animation: desvanecimiento 0.7s ease;
}
